{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">

      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                Danyaal
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                EarMotion Explore v1
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0">
              
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12 col-xl-6 mb-3">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">High Alpha Playlists</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group high-alpha-playlists"> <!-- Add class here -->
                <!-- Initially empty, will be populated by JavaScript -->
              </ul>
            </div>
            <div class="input-group" style="padding: 10px;">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control playlist-input" data-playlist-type="highAlpha" placeholder="Add/Remove playlist...">
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-6 mb-3">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">High Beta Playlists</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group high-beta-playlists"> <!-- Add class here -->
                <!-- Initially empty, will be populated by JavaScript -->
              </ul>
            </div>
            <div class="input-group" style="padding: 10px;">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control playlist-input" data-playlist-type="highBeta" placeholder="Add/Remove playlist...">
            </div>
          </div>
        </div>
        
        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        function updatePlaylists() {
            $.ajax({
                url: '/get-playlist-data', // URL to the route that returns playlist data
                type: 'GET',
                success: function(data) {
                    // Assuming data is an object like { highAlpha: ['Playlist1', 'Playlist2'], highBeta: ['Playlist3', 'Playlist4'] }

                    // Update High Alpha Playlists
                    var highAlphaHtml = '';
                    data.highAlpha.forEach(function(playlist) {
                        highAlphaHtml += '<li class="list-group-item border-0 px-0"><label class="form-check-label text-body ms-3 text-truncate w-80 mb-0">' + playlist + '</label></li>';
                    });
                    $('.high-alpha-playlists').html(highAlphaHtml);

                    // Update High Beta Playlists
                    var highBetaHtml = '';
                    data.highBeta.forEach(function(playlist) {
                        highBetaHtml += '<li class="list-group-item border-0 px-0"><label class="form-check-label text-body ms-3 text-truncate w-80 mb-0">' + playlist + '</label></li>';
                    });
                    $('.high-beta-playlists').html(highBetaHtml);
                }
            });
        }

        // Call updatePlaylists initially and set interval for auto-updating
        updatePlaylists();
        setInterval(updatePlaylists, 120000);

        // Function to handle add/remove playlist
        function handlePlaylistUpdate(playlistType, playlistName) {
            $.ajax({
                url: '/update-playlist',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ type: playlistType, name: playlistName.trim() }),
                success: function(response) {
                    updatePlaylists(); // Update the playlists after modification
                }
            });
        }

        // Event handlers for the add/remove input fields
        $('.playlist-input').on('keypress', function(e) {
            if (e.which === 13) {  // Check if the enter key was pressed
                var playlistType = $(this).data('playlist-type'); // 'highAlpha' or 'highBeta'
                var playlistName = $(this).val();
                handlePlaylistUpdate(playlistType, playlistName);
                $(this).val(''); // Clear the input field
            }
        });
    });
</script>
{% endblock javascripts %}
